<div class="card mx-auto text-center border-light mt-5"
style="width: 18rem;">
<img src="../../assets/angular.png" class="card-img-top"
alt="Angular logo">
<div class="card-body">
<h5 class="card-title">Angular/Scully Blog </h5>
<p class="card-text">
    Un Blog creato con il framework Angular 
    e con Scully, generatore di siti statici.
</p>
<a href="https://angular.io/" target="_blank"
class="card-link">Angular</a>
<a href="https://scully.io/" target="_blank"
class="card-link">Scully</a>
</div>
</div>
