<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">ngScullyBlog</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a routerLink="/articles" routerLinkActive="active"
                class="nav-link">Articoli</a>
                </li>
            <li class="nav-item">
                <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contatti</a>
            </li>
        </ul>
    </div>
</nav>